body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family:monospace, 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
a, li, ul {
  color: black;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  color:inherit;
  text-decoration: none;
}

.margin-box{
  margin-left: 10em;
  margin-right: 10em;
}


/*LOADING PAGE logo section*/
@keyframes fade {
  0%{opacity: 1}
  
  100%{opacity:0}
}
@keyframes scale {
  0% {transform:scale(1.1);}
  50%{transform:scale(1.1);}
  100% {transform:scale(1.2);}
}
@keyframes giroFlor {
    0% { 
      left:0;
      top:0;
      opacity: 0.5;
    }
    100% { 
      left:900px;
      top: 215px;
      transform: rotate(360deg);
      opacity: 1;
    }
}
.loading {
  background-color: yellow;
  animation: fade 3.5s 1 ease-in-out;
  padding-top: 4.5em;
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height:80vh;;
  z-index: 99999;
}
.flor {
  width: 12em;
  position: absolute;
  left:900px;
  top: 215px;
  animation: giroFlor 1.5s 1 ease;
}
.main-logo{
  display: flex;
  justify-content: center;
  padding-top: 4em;
  align-items: center;
}

.main-logo img{
  width: 38em;
  position: relative;
  animation: scale 3s 1 ease-in-out;
  transform:scale(1.2);
}

@media(max-width: 900px){
  .main-logo img{
    width: 15em;
  }
  .flor {
    display:none;
  }
  @keyframes floating {
    from {
      -webkit-transform: translate(0, 0px) rotateY(-12deg);
              transform: translate(0, 0px) rotateY(-12deg);
      text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
    }
    65% {
      -webkit-transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
              transform: translate(0, 15px) rotateY(10deg) rotateX(10deg);
      text-shadow: -10px -10px 3px rgba(0,0,0,0.15);
    }
    to {
      -webkit-transform: translate(0, 0px) rotateY(-12deg);
              transform: translate(0, 0px) rotateY(-12deg);
      text-shadow: 10px 10px 3px rgba(0,0,0,0.15);
    }
  }
  .main-logo img{
    width: 38em;
    position: relative;
    animation: floating 5s 1 ease-in-out;
    transform:scale(1.2);
  }
 
}


