*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
 
  font-family:'Open Sans', sans-serif;
}
a, li, ul {
  color: black;
  text-decoration: none;
  list-style: none;
  margin: 0;
  padding: 0;
}
a:hover {
  color:inherit;
  text-decoration: none;
}

/*navbar*/
.navbar{
  display:flex;
  justify-content: space-around;
  background: rgb(243, 243, 171);
  align-items: center;
  padding: .2em 1em;
  box-shadow: 0px 0px 15px rgba(58, 57, 57, 0.678);
  position: fixed;
  z-index: 99;
  width: 100vw;
  top:0;
}


.navbar-logo{
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}
.navbar-logo img{
  height: 80px;
  width: 180px;
  -webkit-transition: -webkit-transform 1s ease-in-out;
}
.navbar-logo a :hover {
  -webkit-transform: scale(1.1);
}

.menu-list{
  width: 35em;
  display: flex;
  justify-content: space-around;
}
.list-item{
  font-size: 18px;
}
.list-item:hover{
  opacity: .5;
}
.menu-bemvinda{
 font-size: 20px;
}
.show-name {
  font-weight: bold;
}
.logout-btn{
  border:.5px solid black;
  padding: .5em 1em;
  border-radius: 1em;
  background:none;
  cursor:pointer;
}
.logout-btn:hover{
  background:black;
  color: white;
}
.logout-btn-burguer{
  background:none;
  border:none;
}



/*nav bar MENU BURGUER */
.container {
  display: none;
  cursor: pointer;
}
  @media (max-width: 800px){
  .navbar{
    justify-content: start;
    padding: 1em;
  }
  .container {
    display: inline-block;
  }
  .menu-list{
    display:none;
  }
  .navbar-logo {
   position: absolute;
   left: 40em;
  }
  #menuToggle{
    display: block;
    position: relative;
    z-index: 1;
    -webkit-user-select: none;
    user-select: none;
  }
  #menuToggle input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: -7px;
    left: -5px;
    cursor: pointer;
    opacity: 0; /* esconde o input falso */
    z-index: 2; 
    -webkit-touch-callout: none;
  }
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: #0e0d0d;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }
  #menuToggle input:checked ~ span{
    opacity: 1;
    transform: rotate(45deg) translate(-1px, -2px);
    background: #232323;
  }
  #menuToggle input:checked ~ span:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  #menuToggle input:checked ~ span:nth-last-child(2){
    transform: rotate(-45deg) translate(1px, -1px);
  }
  .burguer-menu-list{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
    padding: 50px;
    padding-top: 125px;
    background-color: rgba(243, 243, 125, 0.658);
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
  }
  .list-item{
    padding: 10px 0;
    font-size: 22px;
  }
  ul a:hover{
    background-color: rgb(212, 212, 4);
    width: 100%;
  }
  #menuToggle input:checked ~ ul {
  transform: none;
  }
}
@media (max-width: 720px){
  .navbar-logo {
   display:none;
  }
}




/***react***/

h2{
  
  text-align: center;
  font-size: 24px;
  letter-spacing: 0.01em;
  font-weight: 200;
  color: white;
  font-family: monospace;
}
h3{
  color: rgb(97, 218, 251);
    text-align: center;
    font-size: 45px;
    letter-spacing: 0.01em;
    margin: 0px;

}

h4{
  margin-top: 3em;
  font-size: 28px;
}



/*SECTIONS EXPLAINING CODE */
.react-title{
  margin-top: 8em;
  background-color: rgb(40, 44, 52);
  padding: 4em 5em;
  
}
section{
  padding: 0em 7em;
  margin-top: 3em;
}

@media (max-width: 950px){
  section{
    padding: 0em 1em;
    margin-top: 2em;
  }
}
h1 {
  font-family: monospace;
}
.link{
  color: blue;
}
.briefing, code {
  margin: 1em 10em;
  line-height: 1.4em;
}
@media (max-width:950px){
  .briefing, code {
    margin: 1em 2em;
    line-height: 1.4em;
  }
}

.code-detail{
  background-color: rgb(238, 238, 238);
  display: block;
  margin: 2em 14em 1em 14em;
  padding: 1em;
}


@media (max-width: 950px){
  .code-detail{
    background-color: rgb(238, 238, 238);
    display: block;
    margin: 0 5em;
    padding: 1em;
  }
}

.code-detail ul > li {
  margin: 2em 0;
  font-weight: bold;
}

@media (max-width: 950px) {
  section{
    padding: 1em 1em;
  }

  .code-detail{
    margin: 0 1em;
  }
}

code {
  display: block;
  background-color:#282C34;
  color:white;
  padding: 1em;
  border-radius: .5em;
}

.title-calculator{
  color: black;
}
.react-gif{
  display: flex;
  justify-content: center;
}


footer {
  padding: 3em 2em;
  text-align: center;
  margin-top: 3em;
  background-color: rgba(82, 78, 78, 0.849);
}
footer i{
  margin: 3px;
  font-size: 28px;
  color: black;
}
footer i:hover{
  opacity: 0.5;
}

footer p {
  font-family: monospace;
}

@media (max-width: 950px){
  .react-gif{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;
  }
  img {
  width: 100%;
  max-width: 100%;
  height: auto;
  display: block;
  }
}

